:root {
    /* Will fill out when needed */
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-image: linear-gradient(to bottom right, #fbf3f0, #ff9fab);
    background-color: #ff9fab;
    background-attachment: fixed;
}

header {
    background-color:#ff9fab;
}

h1 {
    display:inline-block;
    color:#c42f7a;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 85px 0;
}

h2 {
    color: #c42f7a;
    font-size: 25px;
    border: dotted rgb(245, 220, 239);
    padding: 2px;
    background-image: linear-gradient(to bottom right, #fbf3f0, #ff9fab); 
}

/* Image of cherry blossoms behind the header elements */

.background-img {
    background-image: url("../images/cherry-blossom-bg.jpg");
    width: 100%;
    height: 100%;
    padding: 50px;
}

/* Contains content pertaining to header elements */

.container1 {
    display:flex;
    position: relative;
    width: 100%;
    height: 200px;
    border: dotted rgb(245, 220, 239);
    border-width: 0px 0px 10px 0px;
}

nav {
    float:right;
    margin: 110px 0;
}

/* Designs the location and layout of the links in the header */

nav ul li {
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}

/* Bulletpoints are removed and link color added */

a {
    text-decoration:none;
    color:#c42f7a;
}

/* All of the below link classes add designs through hover, change color, add a transitioning shadow effect, and a cherry blossom emoji appears before the word when hovered over */

.link1 {
    background-color: rgb(247,201,211, .7);
    border-radius: 30%;
}

.link1:hover {
    color:#ff297e;
    transition: all .5s;
    box-shadow: 0px 0px 5px 5px #ff297e;
}

.link1:hover::before {
    content: "🌸";
}

.link2 {
    background-color: rgb(229,148,165, .7);
    border-radius: 30%;
}

.link2:hover {
    color:#ff297e;
    transition: all .5s;
    box-shadow: 0px 0px 5px 5px #ff297e;
}

.link2:hover::before {
    content: "🌸";
}

.link3 {
    background-color: rgb(122,1,8, .7);
    border-radius: 30%;
}

.link3:hover {
    color:#ff297e;
    transition: all .5s;
    box-shadow: 0px 0px 5px 5px #ff297e;
}

.link3:hover::before {
    content: "🌸";
}

.link4 {
    background-color: rgb(255,243,245, .7);
    border-radius: 30%;
}

.link4:hover {
    color:#ff297e;
    transition: all .5s;
    box-shadow: 0px 0px 5px 5px #ff297e;
}

.link4:hover::before {
    content: "🌸";
}

a:link {
    color:#c42f7a;
}

/* Container pertaining to the about category. Fitted with pink dotted borders, centered, and properly spaced from the title and header */

.about {
    display: flex;
    position:relative;
    flex-direction: row;
    margin: 50px 10px 20px 10px;
}

/* This displays the header in a fixed location besides the paragraphs */

.about h2 {
    display:flex;
    position:relative;
    justify-content: flex-start;
    align-items:flex-start;
    max-width: 200px;
    width: 200px;
    padding: 30px;
    margin: 0 0px;
}

/* container2 positions the about me section, adds a dotted pink border, and gives the content inside some padding */

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: row;
    align-items:center;
    border: dotted #ff9fab;
    border-width: 5px;
    padding: 20px;
    color:#c42f7a;
}

/* profilepic makes the image smaller and moves it towards the middle */

.profilepic {
    display:flex;
    position:relative;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 0 0 700px;
}

.projects {
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
}

.projects h2 {
    display:flex;
    padding: 30px 40px;
    margin: 0 10px;
    max-width: 200px;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: row;
    align-items:space-around;
    border: dotted #ff9fab;
    border-width: 5px;
    padding: 20px;
    margin: 0;
}

.project1, .project2, .project3, .project4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.project1 img {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 1000px;
    height: 500px;
}

.project2 img {
    display: flex;
    width: 600px;
    height: 500px;
}

.project3 img {
    display: flex;
    width: 600px;
    height: 500px;
}

.project4 img {
    display: flex;
    width: 600px;
    height: 500px;
}

.contact h2 {
    display:flex;
    position: relative;
    justify-content:center;
    padding: 20px 30px;
    margin: 10px 10px 0 10px;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    flex-direction: row;
    border: dotted #ff9fab;
    border-width: 5px;
    padding: 20px;
    margin: 0 10px 10px 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: lavenderblush;
    border: 1px solid rosybrown;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:#c42f7a;
    color: white;
    padding: 12px 20px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#ff297e;
}

.resume {
    display: flex;
    justify-content: flex-start;
}

.resume h2 {
    display: flex;
    justify-content: flex-start;
    max-width: 200px;
    margin: 0px 10px;
    padding: 20px 30px;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    color:#c42f7a;
    border: dotted #ff9fab;
    border-width: 5px;
    padding: 20px;
    margin: 10px 0px;
}

@media screen and (max-width: 950px) {
    body {
        
    }
    
    h1 {
        display:flex;
        justify-content: center;
        align-items:center;
    }

    header {
        background-color:#ff9fab;
    }

    nav {
        display:flex;
        margin-top: -70px;
        min-width: 551px;
    }
    
    nav ul li {
        display:inline-flex;
        flex-direction: row;
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 640px) {
    nav {
        display:flex;
        position:relative;
        justify-content: center;
        min-width: 551px;
    }

    nav ul li {
        display:inline-flex;
        justify-content: center;
        align-items: center;
    }

    .about {
        display: flex;
        position: relative;
    }

    .contact {
        margin: 20px;
        width: 100%;
    }
}